{{- $context := .context -}}
{{- $studio := .studio -}}
{{- $pageURL := $context.RelPermalink -}}
{{- $groups := slice
  (dict "title" "Games" "url" (relURL (printf "games/%s/" $studio)) "pages" (where site.RegularPages "Params.game_studios" "intersect" (slice $studio)))
  (dict "title" "Articles" "url" (relURL (printf "articles/%s/" $studio)) "pages" (where site.RegularPages "Params.article_studios" "intersect" (slice $studio)))
  (dict "title" "News" "url" (relURL (printf "news/%s/" $studio)) "pages" (where site.RegularPages "Params.news_studios" "intersect" (slice $studio)))
  (dict "title" "Tutorials" "url" (relURL (printf "tutorials/%s/" $studio)) "pages" (where site.RegularPages "Params.tutorial_studios" "intersect" (slice $studio)))
  (dict "title" "Videos" "url" (relURL (printf "videos/%s/" $studio)) "pages" (where site.RegularPages "Params.video_studios" "intersect" (slice $studio)))
  (dict "title" "Tools" "url" (relURL (printf "tools/%s/" $studio)) "pages" (where site.RegularPages "Params.tool_studios" "intersect" (slice $studio)))
-}}
<aside class="igd-section-sidebar" aria-label="Studio resources">
  <div class="igd-section-sidebar__title">Studio</div>
  <a class="igd-section-sidebar__link igd-section-sidebar__link--active" href="{{ $context.RelPermalink }}">{{ $context.Title }}</a>

  {{- range (union $context.RegularPages $context.Sections).ByWeight -}}
    {{- if ne .Params.sidebar.exclude true -}}
      <a class="igd-section-sidebar__filter{{ if eq $pageURL .RelPermalink }} igd-section-sidebar__filter--active{{ end }}" href="{{ .RelPermalink }}"><span>{{ partial "utils/title" . }}</span></a>
    {{- end -}}
  {{- end -}}

  {{- range $groups -}}
    {{- if .pages -}}
      <div class="igd-section-sidebar__divider"></div>
      <div class="igd-section-sidebar__title"><a href="{{ .url }}">{{ .title }}</a></div>
      {{- range .pages.ByDate.Reverse -}}
        <a class="igd-section-sidebar__filter{{ if eq $pageURL .RelPermalink }} igd-section-sidebar__filter--active{{ end }}" href="{{ .RelPermalink }}"><span>{{ .Title }}</span></a>
      {{- end -}}
    {{- end -}}
  {{- end -}}
</aside>
