{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more" -}}
  {{- $sectionLabel := "" -}}
  {{- if eq .Type "game_tags" -}}
    {{- $sectionLabel = "Games" -}}
  {{- else if eq .Type "articles_tags" -}}
    {{- $sectionLabel = "Articles" -}}
  {{- else if eq .Type "news_tags" -}}
    {{- $sectionLabel = "News" -}}
  {{- else if eq .Type "tutorial_tags" -}}
    {{- $sectionLabel = "Tutorials" -}}
  {{- else if eq .Type "tool_tags" -}}
    {{- $sectionLabel = "Tools" -}}
  {{- else if eq .Type "game_studios" -}}
    {{- $sectionLabel = "Games" -}}
  {{- else if eq .Type "article_studios" -}}
    {{- $sectionLabel = "Articles" -}}
  {{- else if eq .Type "news_studios" -}}
    {{- $sectionLabel = "News" -}}
  {{- else if eq .Type "tutorial_studios" -}}
    {{- $sectionLabel = "Tutorials" -}}
  {{- else if eq .Type "tool_studios" -}}
    {{- $sectionLabel = "Tools" -}}
  {{- end -}}
  {{- $displayTitle := .Title -}}
  {{- if in (slice "game_studios" "article_studios" "news_studios" "tutorial_studios" "tool_studios") .Type -}}
    {{- with site.GetPage (printf "/studios/%s" .Data.Term) -}}
      {{- $displayTitle = .Title -}}
    {{- end -}}
  {{- end -}}
  {{- with $sectionLabel -}}
    {{- $displayTitle = printf "%s %s" $displayTitle . -}}
  {{- end -}}
  <div class='hx:mx-auto hx:flex hextra-max-page-width'>
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx:w-full hx:min-w-0 hx:max-w-6xl hx:px-6 hx:pt-4 hx:md:px-12">
        <br class="hx:mt-1.5 hx:text-sm" />
        {{ if $displayTitle }}<h1 class="hx:text-center hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ $displayTitle }}</h1>{{ end }}
        <div class="hx:mb-16"></div>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="igd-post-feed">
          {{- range .RegularPages -}}
            {{ partial "post-card.html" (dict "page" . "readMore" $readMore "showStudio" true) }}
          {{- end -}}
        </div>
      </main>
    </article>
  </div>
{{ end }}
